{% extends 'layout.html' %}
{% block main %}
<ul class="breadcrumb">
    <li><a href="/">管理首页</a></li>
    <li><span>正确提示</span></li>
</ul>
    
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">成功提示</h3>
    </div>
    <div class="panel-body">{{message}}</div>
    <div class="panel-footer">
        {% if url %}
        <a href="{{url}}">点击这里</a>
        {% else %}
        <a href="javascript:window.history.back()">返回上一步</a>
        {% endif %}
    </div>
</div>
{% endblock %}

