{% extends 'layout.html' %}
{% block main %}
<ul class="breadcrumb">
    <li><a href="/">首页列表</a></li>
    <li><a href="#">用户列表</a></li>
</ul>
<h3>用户列表</h3>
<table class="table table-striped">
    <tr>
        <th>序号</th>
        <th>用户id</th>
        <th>用户名</th>
        <th>密码</th>
        <th>是否是管理员</th>
    </tr>
    {% for index,user in users %}
    <tr>
        <td>{{index+1}}</td>
        <td>{{user._id.toString()}}</td>
        <td>{{user.username}}</td>
        <td>{{user.password}}</td>
        <td>
            {%if user.isAdmin%}
            是
            {%else%}
            否
            {%endif%}
        </td>
    </tr>
    {%endfor%}
</table>
{% include 'page.html' %}

{% endblock %}

